<div class="container">
  <div class="row balance">
      <div class="col-12 col-sm-12">
        <h5>Current Balance: 
          <span style="color: #512DA8" *ngIf="myBalance">{{myBalance}}</span>
          <span style="color: red" *ngIf="!myBalance">0</span>
        </h5>
      </div>
  </div>
  <div class="row balance">
      <div class="col-4 col-sm-4">
        <h5>Add Balance: <input type="number" placeholder="Enter Amount" [(ngModel)]="addBalAmount.amount"></h5>
      </div>
      <div class="col-4 col-sm-4">
        <button class="btn btn-primary" type="submit" (click)="addBalance();" [disabled]="!addBalAmount.amount">ADD</button>
      </div>
  </div>
  <div class="row row-content" *ngIf="showCurrentStockTable">
      <div class="col-12 col-sm-12">
          <h5>Active Stocks</h5>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Sell</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let stock of aggregatedDashboardData; let i = index">
                          <th>{{stock.name}}</th>
                          <td>{{stock.quantity}}</td>
                          <td>
                            <i class="fa fa-money action-icon" (click)="sellStockModal(i)"></i>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="row row-content" *ngIf="showStockHistTable">
      <div class="col-12 col-sm-12">
          <h5>Purchase History</h5>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th>Name</th>
                          <th>Bought On</th>
                          <th>Bought At Price</th>
                          <th>Quantity</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let stock of dashboardDataToDisplay; let i = index">
                          <th>{{stock.name}}</th>
                          <td>{{stock.createdAt | date}}</td>
                          <td>{{stock.boughtAtPrice}}</td>
                          <td>{{stock.quantity}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<div id="stockSellModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sell this Stock</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-sm-4">
                <label class="sr-only" for="noOfStockUnits">No. Of Stock Units</label>
                <input type="number" class="form-control form-control-sm mr-1" name="noOfStockUnits" [(ngModel)]="sellStockObj.quantity"
                  placeholder="Enter Number of Stock">
              </div>
            </div>
            <div class="form-row">
              <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary btn-sm ml-1" (click)="sellStock()" [disabled]="!sellStockObj.quantity">Sell</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
