<div class="container">
  <div class="row row-content">
      <div class="col-12 col-sm-12">
          <h3>{{name}}'s Stocks</h3>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th>Name</th>
                          <th>Total Units</th>
                          <th>Profit/Loss</th>
                          <th>Actions (Buy/Sell)</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th>Google</th>
                          <td>10</td>
                          <td>+3%</td>
                          <td>
                            <a role="button">
                              <i class="fa fa-shopping-cart action-icon"></i>
                            </a>
                            <i class="fa fa-money action-icon"></i>
                          </td>
                      </tr>
                      <tr>
                          <th>Apple</th>
                          <td>2</td>
                          <td>+10%</td>
                          <td>
                            <a role="button">
                              <i class="fa fa-shopping-cart action-icon"></i>
                            </a>
                            <i class="fa fa-money action-icon"></i>
                          </td>
                      </tr>
                      <tr>
                          <th>Microsoft</th>
                          <td>1</td>
                          <td>+13%</td>
                          <td>
                            <a role="button">
                              <i class="fa fa-shopping-cart action-icon"></i>
                            </a>
                            <i class="fa fa-money action-icon"></i>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
